.main {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form {
  max-width: 400px;
  padding: 15px;
}

.form .form-floating:focus-within {
  z-index: 2;
}

.form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form input[id="password"] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form input[id="confirmPassword"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
